
<% if(success && success.length){%>
    <div class="alert alert-primary" role="alert">
  <h6>  <%= success %></h6>
</div>
<%}%>

<% if(error && error.length){%>
    <div class="alert alert-primary" role="alert" style="background-color:rgb(201, 87, 125);">
  <h6>  <%= error %></h6>
</div>
<%}%>
